{% extends 'movieapp/base3.html' %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block title %}{{ movie.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'movieapp/css/movie_view.css'%}">
<style type="text/css">



</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function deleteMovie(){
    $("#exampleModal").modal('hide');
    $.ajax({
        url : "{% url 'movie_delete' %}",
        method : 'get',
        data : {'movie_id':"{{ movie.movie_id }}"},
        success: function(retData){
            if(retData['deleted']==='deleted'){
                $("#modMsg").text("Movie has been deleted");
                $("#messageModal").modal();
                setTimeout(function(){
                    location = "{% url 'movie' %}";
                },1500);
            }
        }
    });
    
    

}
function addToList(){
    $.ajax({
        url : "{%  url 'add-movie-to-list' %}",
        method : 'get',
        data : {'movie_id':"{{ movie.movie_id }}",'list_id':$("#list_id").val()},
        success : function(retData){
            if(retData['status']==='added'){
                $("#modMsg").text("Movie has been added to list");
                $("#messageModal").modal();
                setTimeout(function(){
                    $("#messageModal").modal('hide');
                    location.reload();
                },1000);
                
            }
            else{
                $("#modMsg").text("Movie already present in list");
                $("#messageModal").modal();
                setTimeout(function(){
                    $("#messageModal").modal('hide');
                },1000);
            }
        },
    });
}
</script>

{% endblock %}


{% block content%}

<!-- delete modal-->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>This action will delete the movie</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteMovie()">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p id="modMsg"></p>
            </div>
        </div>
    </div>
</div>


<div class="col">
<div class="row">
<div class="card p-2 mx-auto">
    <div class="col">
      <div class="row">
          <div class="col-sm-6 p-1 d-flex flex-column align-self-center" style="height:80%;">
              
              <div class="row" style="width:inherit;">
                
                    <article class="gallery-wrap" style="width:inherit;">
                        <div class="img-big-wrap d-flex justify-content-center pt-2" style="width:inherit;">
                                {% if movie.image %}
                                    {% thumbnail movie.image '600x1200' as image %}
                                        <img src="{{image.url}}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="img-responsive"  src="{% static 'movieapp/images/noimage2.jpg' %}" style="max-width:inherit;width:60%;height:auto;">
                                {% endif%}
                        </div>

                        
                    </article>
                
                </div>
                {% if user_lists %}
                <div class="row">
                    <!-- gallery-wrap .end// -->
                    <div class="container text-center mt-3">
                        
                            <p class="h6">Like this movie? Add to your lists </p>
                            <select id="list_id">
                                {% for list in user_lists %}
                                <option value="{{list.id}}">{{list.name}}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary p-1" type="button" onclick="addToList()">Add to list</button>
                        
                    </div>
                </div>
                {% endif %}
            </div>
          <div class="col-sm-6 p-1">

          
          <aside>
              <article class="card-body p-1 m-1">
                  <h1 class="title mb-3">{{ movie.name }}</h2>
                  <dl class="param param-feature">
                        <dt><p class="h5">Directed By</p></dt>
                        <dd>
                            <table class="table table-borderless p-1">
                                
                                <tbody>
                                    {% if director %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'artist_view' director.artist_id %}">
                                                    {% if director.image %}
                                                        {% thumbnail director.image '30x45' as image %}
                                                            <img src="{{ image.url }}">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        <img src="{% static 'movieapp/images/noimage.png' %}" style="width:3em;height:auto;">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td style="vertical-align: middle;"><h6><a href="{% url 'artist_view' director.artist_id %}">{{ director.name }}</a></h6></td>
                                        </tr>
                                        {% else %}
                                        <tr style="text-align:center;">
                                            <td colspan="2">No data available</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>

                        </dd>
                  </dl>
                  
                 
                  <dl class="param param-feature">
                        <dt><p class="h5">Genre</p></dt>
                        <dd>{{ movie.genre }}</dd>
                  </dl>
                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt><p class="h5">Release Date</p></dt>
                      <dd>{{ movie.release_date }}</dd>
                  </dl>
                  


                  <!-- item-property-hor .// -->
                  <dl class="param param-feature">
                      <dt><p class="h5">Description</p></dt>
                      <dd>{{ movie.description }}</dd>
                  </dl>
                  
                  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <hr>
                        {% if rating_len == 0 %}
                        <p>No ratings yet</p>
                        {% else %}
                        
                        <p>Average rating of <b>{{movie.rating|floatformat:1}}</b> based on {{rating_len}} user{{rating_len|pluralize}}</p>
                        {% if not not_rated and user.is_authenticated %}
                        <small>You have rated this movie</small>
                        {% endif %}
                    </bold>
                        
                        {% endif %}
                     </dl>
                    
                    {% if user.is_authenticated %}
                        {% if not_rated %}
                        
                        <dl class="param param-feature">
                                <dt>Rate this Movie</dt>
                                <dd>
                                    <form id="rate_form" method="post" action="{% url 'rate' movie.movie_id %}">
                                        {% csrf_token %}
                                        <select name='rating' form='rate_form'>
                                            <option value=0>0</option>
                                            <option value=0.5>0.5</option>
                                            <option value=1>1</option>
                                            <option value=1.5>1.5</option>
                                            <option value=2>2</option>
                                            <option value=2.5>2.5</option>
                                            <option value=3>3</option>
                                            <option value=3.5>3.5</option>
                                            <option value=4>4</option>
                                            <option value=4.5>4.5</option>
                                            <option value=5>5</option>
                                        </select>
                                        <input type="submit" value="Rate">
                                    </form>
                                </dd>
                        </dl>
                        
                    {% endif %}    
                    
                    {% else %}
                    
                
                    {% endif %}

                    
                        <span style="visibility:hidden">NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN</span>
                    
              </article>

              
              <!-- card-body.// -->
          </aside>
          <!-- col.// -->
        </div>
      </div>
      <!-- row.// -->
      <div class="row">
          <div class="col-sm-11 mx-auto">
              <div class="container">
                
                <div class="row">
                    <table class="table table-striped p-1">
                        <thead>
                            <tr>
                                <th scope="col" colspan="3"><p class="h4">Cast</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if actors %}
                                    {% for actor in actors %}
                                        <tr class="p-1">
                                            <td>
                                                <a href="{% url 'artist_view' actor.artist_id %}">
                                                    {% if actor.image %}
                                                        {% thumbnail actor.image '30x45' as image %}
                                                            <img src="{{ image.url }}">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        <img src="{% static 'movieapp/images/noimage.png' %}" style="width:3em;height:auto;">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td style="vertical-align: middle;"><h5><a href="{% url 'artist_view' actor.artist_id %}">{{actor.name}}</a></h5></td>
                                            <td style="vertical-align: middle;"><h5>{{ actor.artist_type }}</h5></td>
                                        </tr>
                                        
                                    
                                    {% endfor %}
                            {% else %}
                                <tr style="text-align:center;">
                                    <td colspan="3"><p class="h6">No data available</p></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    

                </div>
                {% if user.is_superuser or movie.user == user %}
                    <div class="row">
                            
                            <hr>
                            
                            
                            <a class="btn btn-warning p-2" href="{% url 'movie_edit' movie.movie_id %}">Edit Movie<a>
                            <button class="btn btn-danger p-2" data-toggle="modal" data-target="#exampleModal">Delete Movie</button>
                            
                                <!-- <span>Movie has not been approved</span> -->
                            
                        
                    </div>
                {% endif %}
            </div>

          </div>
          
      </div>
    </div>
        
      
  </div>

</div>
  <!-- card.// -->

  <div class="row mr-auto mt-4">

        <div class="container p-4">
            {% if reviews_len == 0%}
                <p>No reviews for {{ movie.name }}</p>
            {% else %}
                <p class="h4 m-2 font-weight-bold">Reviews({{reviews_len}})</p>
                {% for review in reviews %}
                    <div class="row p-3 m-2 border shadow bg-white">
                        <div class="container">

                        
                        <div class="row ">
                            <p class="h5">{{ review.user.username }}</p>
                        </div>
                        <div class="row">
                                <span>{{review.review}}</span>
                        </div>
                        </div>
                    </div>
                    
                {% endfor%}
            {% endif %}
        </div>
        

  </div>
  {% if user.is_authenticated and not current_user_reviewed %}
<div class="row mr-auto my-3">
    <p class="h4 font-weight-bold">Write a review</p>
    <br>
    <br>
    <div class="container">
        <form method='post' action="{% url 'review' movie.movie_id %}">
            <div class="row">
                {% csrf_token %}
                {% render_field review_form.review class+='form-control' %}
            </div>

            <div class="row">
                <input class="btn btn-info float-right" type="submit" value="Submit">
            </div>
            
        </form>

    </div>
</div>  
{% endif %}

</div>



{% endblock %}